@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Custom Tab */
  .tab-nav {
    color: theme("textColor.gray.400");
    transition: all 0.5s;
  }

  .tab-nav .count {
    background-color: theme("colors.gray.300");
    color: theme("textColor.gray.500");
    transition: all 0.5s;
  }

  .tab-nav.active,
  .tab-nav:hover {
    color: theme("textColor.slate.900");
  }

  .tab-nav.active .count,
  .tab-nav:hover .count {
    background-color: theme("colors.slate.900");
    color: theme("textColor.white");
  }

  .tab-panel {
    transition: 0.5s;
    width: theme("width.full");
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: theme("opacity.0");
    transform: translateX(-100px);
  }

  .tab-panel.active {
    transform: translateX(0);
    z-index: 1;
    opacity: theme("opacity.100");
    position: relative;
  }
  /* Custom Tab */

  /* Custom line-hover */
  .line-hover:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: theme("height[0.5]");
    background-color: theme("colors.slate.900");
    width: theme("width.0");
    transition: all 0.5s;
  }

  .line-hover:hover:after,
  .line-hover.active:after {
    width: theme("width.full");
  }

  nav  .line-hover:after {
    bottom: -0.5rem;
  }
  /* Custom line-hover */

  /* custom line-active */
  nav .line-active{
    border-left: 2px solid #000;
    padding: theme("padding[3]");
    display: block;
  }
  /* custom line-active */
  /* custom input-textare,select */
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    border-color: theme("colors.slate.300");
    border-width: theme("width[0.5]");
    border-top: 0;
    border-left: 0;
    border-right: 0;
    transition: all 0.5s ease-in-out;
    outline: none;
    box-shadow: none;
    background: rgb(255 255 255 / 0%);
    padding-left: 0 ;
    padding-right: 0;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    border-color: theme("colors.slate.900");
    border-width: theme("width[0.5]");
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    box-shadow: none;
  }
  /* custom input-textare,select */
  /* custom label */
  input:focus ~ .label-custom,textarea:focus ~ .label-custom{
    transform: translateY(-20px);
    cursor: pointer;
  }

 .label-custom {
    font-size: theme("fontSize.base");
    color: theme("colors.gray.400");
    transform: translateY(0);
    transition: 0.5s;
    cursor: text;
    position: absolute;
    z-index: -1;
  }

 input:not([value=''])~ .label-custom, textarea:not([value=''])~ .label-custom{
  transform: translateY(-20px);
 }
  /* custom label */

   /* bredcumbs */
   .breadcumbs div:after{
    content: '/';
    margin: 0 0.5rem;
   }

   .breadcumbs div:last-child::after{
      display: none;
   }

   .breadcumbs div:last-child{
    color: #000;
   }
   /* bredcumbs */
}
